@use '../../node_modules/@ingka/variables/style.scss' as *;
@import "../../node_modules/@ingka/forms/dist/style.css";
@import "../../node_modules/@ingka/svg-icon/dist/style.css";
@import "../../node_modules/@ingka/button/dist/style.css";
@import "../../node_modules/@ingka/focus/dist/style.css";
@import "../../node_modules/@ingka/switch/dist/style.css";


.chatbot-box {
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    background: $colour-neutral-1;
    box-shadow: 2px 4px 10px #00000040;
    z-index: 100;
    display: flex;
    position: fixed;
    overflow: hidden;
    bottom: 30px;
    right: 30px;
    height: 70vh;
    border-radius: 10px;
}

.chatbot-header {
    width: 100%;
    z-index: 10;
    height: 32px;
    padding: 14px 89px 14px 20px;
    display: flex;
    align-items: center;
    background-color: var(--header-color);
    color: $colour-neutral-7;
}

.chatbot-header-title {
    height: 18px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 7px;
}

.chatbot-header-settings {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 104px;
    border: 0;
    display: block;
}

.chatbot-header-settings:hover {
    background-color: $colour-neutral-1;
    border-radius: 90px;
    cursor: pointer;
}

.chatbot-header-down {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 64px;
    border: 0;
    display: block;
}

.chatbot-header-close {
    font-size: 20px;
    color: $colour-neutral-7;
    position: absolute;
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
    border: 0;
    margin: 0;
    right: 20px;
}

.chatbot-header-close:hover,
.chatbot-header-down:hover {
    background-color: $colour-neutral-1;
    border-radius: 90px;
    cursor: pointer;
}

.chatbot-content-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    padding: 15px 5px;
    margin: 0 5px;
    max-width: 415px;
    height: calc(100% - 120px);
    background-color: $colour-neutral-1;
    position: relative;
}

.chatbot-footer {
    width: 100%;
    z-index: 1;
    position: relative;
    border: none;
    margin-top: 4px;
    background-color: $colour-neutral-1;
    box-shadow: 0 -4px 18px #b0b0b02b, 0 -1px 20px #b3b3b31a;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.chatbot-textarea {
    display: flex;
    align-items: center;
    flex-grow: 7;
    padding-left: 2px;
    min-height: 38px;
}

.chatbot-textarea-input {
    border: none;
    background-color: $colour-neutral-1;
    color: $colour-neutral-7;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0px;
    line-height: 24px;
    border-radius: 2px;
    width: 100%;
    resize: none;
    font-family: Noto IKEA, Noto Sans, Roboto, Open Sans, sans-serif;
    font-weight: 400;
    max-width: 90%;
    font-size: 16px;
    margin: 0;
    padding-right: 44px;
    overflow-y: hidden;
}

.chatbot-textarea-input:focus {
    border: none;
    outline: none;
}

.chatbot-textarea-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-chatbot-send {
    background-image: url('../assets/chatbot-send.png');
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20%;
    height: 30px;
    width: 40px;
    right: 25px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

.button-chatbot-send:hover {
    background-image: url('../assets/chatbot-send.png');
    background-position: -58px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.chatbot-reciever-message-container {
    animation: appear 1.5s;
    display: inline-block;
    clear: both;
    width: calc(100% - 30px);
    font-size: 14px;
    position: relative;
    margin: 5px 0 0;
    padding: 0 20px;
    border: 0;
}

.chatbot-reciever-message {
    display: inline-block;
    outline: none;
    word-break: break-word;
    color: #484848;
    border-radius: 0 20px 20px;
    border: 1px solid #dfdfdf;
    padding: 7px 11px;
    margin: 0;
    background-color: var(--content-reciever-message);
    max-width: 75%;
    line-height: 24px;
}

.chatbot-sent-message-container {
    justify-content: flex-end;
    display: flex;
    margin: 20px 0;
}

.chatbot-sent-message {
    border: 1px solid #dfdfdf;
    border-radius: 20px 0 20px 20px;
    padding: 8px 12px;
    margin: 0;
    max-width: 75%;
    line-height: 24px;
    word-break: break-word;
    background-color: $colour-neutral-7;
    color: $colour-neutral-1;
    border-radius: 20px 0px 20px 20px;
}

.button-open-chatbot {
    display: flex;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    z-index: 2147483600;
    white-space: nowrap;
    height: 56px;
    min-width: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: background-color .5s ease;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 25%);
    background-color: #f9d716;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Styles Alertbox and settings*/
.chatbot-content-settings-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    background-color: #1116;
    animation: backdrop-leave-c59d2ac9 .2s;
    z-index: 15;
}

.chatbot-content-settings-alertbox {
    z-index: 200;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    animation: cx-alert--enter-c59d2ac9 .2s cubic-bezier(.8,0,0,1);
}

.chatbot-content-settings {
    box-shadow: 0 2px 33px $colour-neutral-3;
    background-color: $colour-neutral-1;
    border-color: $colour-neutral-1;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    border-radius: 8px;
    padding: 24px;
    color: $colour-neutral-7;
    border: 1px solid $colour-neutral-1;
    margin: 0 16px;
}

.chatbot-content-settings-actions {
    margin: 20px 0 20px;
}

.chatbot-content-settings-actions button {
    margin: 5px 0;
}